.footer {
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  justify-content: center;
  background-color: #001353;

  @media (max-width: 850px) {
    flex-direction: column;    
  }

  &__container {
    display: flex;
    flex-wrap: wrap;
    background-color: #001353;

    @media (max-width: 850px) {
      justify-content: center;
      align-items: center;
    }

    &-logo {
      display: flex;
      flex-wrap: wrap;
      width: 200px;
      align-items: center;

      @media (max-width: 850px) {
        margin-top: 2rem;
        justify-content: center;
        align-content: center;
        width: 100vw;
      }
    }

    &-contact {
      display: flex;
      flex-direction: column;
      color: white;
      padding: 2rem;
      width: 35vw;
      height: 250px;

      @media (max-width: 850px) {
        align-items: center;
        justify-content: center;
        width: 100%;
      }

      h3 {
        color: rgb(194, 191, 191);
      }

      .strong {
        color: rgb(152, 213, 248);
      }
    }

    &-column {
      display: flex;
      flex-direction: column;
      color: white;
      justify-content: center;
      padding-top: 2rem;
      margin-left: 4rem;
      min-width: 10vw;
      height: 200px;

      @media (max-width: 850px) {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-left: 0;
        text-align: center;
      }

      h3 {
        color: rgb(194, 191, 191);
      }
    }
  }

  &__copyright {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    height: 4rem;
    border-top: 1px solid gray;
    color: white;
    justify-content: center;
    align-items: center;

    @media (max-width: 850px) {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      color: red;
      width: 100vw;
      // height: 15rem;
      align-content: flex-start;
      padding-top: 20px;
    }
    
  }
}