.dashboardcard {
  display: block;
  background-color: white;
  height: 16rem;
  width: 20rem;
  padding: 1rem;
  border-radius: 7px;
  border: 0.1em solid rgb(231, 231, 231);
  box-shadow: 0 0 14px rgb(221, 221, 221);
  transition: background-color 0.7s ease, box-shadow 0.7s ease;
  margin-right: 2rem;
  margin-top: 3rem;

  a {
    text-decoration: none;
  }

  &:hover {
    cursor: pointer;
    box-shadow: 0 0 15px rgba(253, 232, 232, 0.808);
    background-color: rgb(250, 244, 244);
  }

  &-icon {
    color: rgb(100, 100, 172);
  }

  &-body {
    display: flex;
    justify-content: center;
    padding: 1rem;
    margin-bottom: 1rem;
    color: rgb(58, 58, 141);
  }

  &-status {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    span {
      font-size: 1rem;
      font-weight: 600;
      color: rgb(100, 100, 172);
    }

    &-quantity {
      display: flex;
      flex-wrap: wrap;
      margin: 0px;
      justify-content: flex-end;
    }

    &-label {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
    }
  }
}
