@import '../Header/Header.module.scss';

.maindashboard {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: 1rem;

  &__header {
    display: flex;

    h1 {
      font-size: 3rem;
    }
  }

  &__body {
    display: block;
    flex-wrap: wrap;
    margin-left: 3rem;
    &-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 45rem;
      height: 4rem;
      background-color: white;
      border-radius: 1rem;

      &-language {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: flex-end;
        position: relative;
        right: 0;
        z-index: 1;
        margin-left: 1rem;
      }

      &-datetime {
        display: flex;
        flex-wrap: wrap;
        align-content: center;
        margin-right: 1rem;
      }
    }

    &-cards {
      display: flex;
      flex-wrap: wrap;
      margin-top: 2rem;
    }
  }
}
